<!--The content below is only a placeholder and can be replaced.-->

  <!-- <img src="assets/landing-page/matr-image3" >   -->
<div style="padding: 0px 0px">
  <div style="border-bottom: 3px solid red">
    <img src="assets/logo/matr-logo2" style="width: 10%" />
    <div style="display: inline-block; width: 78%; text-align: center; font-weight: bold">
      <h1 style="height: 50px;  background-color: #ccc">Advertisement</h1>
      <img src="assets/landing-page/matr_header.png" style="width: 40%"/>
    </div>
  </div>
  <router-outlet></router-outlet>
  <footer style="height: 50px; color: maroon; border-top: 4px solid red">
    <app-footer></app-footer>
  </footer>
</div>