.back-image {
    background: url('../../../../assets/landing-page/matr_banner.png') repeat center center;
    height: 400px;
}

.toran {
    background: url('../../../../assets/landing-page/matr_toran.png');
    height: 60px
}
.swastik_kalash {
    background: url('../../../../assets/landing-page/matr_swastik_kalash.png');
    height: 45px
}

.landing-login-register-btn {
    background-color: red;
    color: #f1f8e9;
    font-size: 16px;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: auto;
    border-radius: 5px;

    a {
        display: inline-block;
        padding: 5px 2px;
        cursor: pointer;
    }

    a:hover {
        background-color: #f1f8e9;
        color: red
    }
}

.img-msg {
    margin-top: 20px;
    img {
        width: 32%; height: 300px; margin: 0px 3px
    }
}

.action-btn-circle {
    margin: 10px 5px;
    color: maroon;
    width: 50px;
    height: 70px;
    vertical-align: middle;
    border: 1px solid maroon;
    border-radius: 5px;
    text-align: center
}

.landing-footer-nav {
    font-size: 14px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

.company-info-payment-options {
    margin: 1px 0px;
    color: maroon;
    font-size: 16px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;

    div {
        display: inline-block;
        padding: 10px;
        width: 45%;
    }
}
@media only screen and (max-width: 768px) {
    .back-image {
        background: url('../../../../assets/landing-page/matr_banner.png') no-repeat center center;
        background-size: cover
    }
}