.back-image {
    background: url('../../../../assets/landing-page/matr_banner.png') repeat center center;
    height: 400px;
}

.toran {
    background: url('../../../../assets/landing-page/matr_toran.png');
    height: 60px
}
.swastik_kalash {
    background: url('../../../../assets/landing-page/matr_swastik_kalash.png');
    height: 45px
}

.landing-nav {
    background-color: red;
    color: white;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    padding: 1px 20px;
    margin: 3px 0px
}

.landing-nav li {
    border-right: 1px solid white
}

.landing-login-register-btn {
    background-color: red;
    color: white;
    font-size: 16px;
    width: 100px
}




.action-btn-circle {
    margin: 10px 5px;
    color: maroon;
    width: 50px;
    height: 70px;
    vertical-align: middle;
    border: 1px solid maroon;
    border-radius: 5px;
    text-align: center
}

.landing-footer-nav {
    font-size: 14px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

@media only screen and (max-width: 768px) {
    .back-image {
        background: url('../../../../assets/landing-page/matr_banner.png') no-repeat center center;
        background-size: cover
    }
}